.eventSummary {
    // width:35%;
    // padding:.25rem 0;
    &__title {
        // color: $theme-color;
        font-size: 1.5rem;
        font-weight: bold;
    }
    & &__time {
        color: $hint-color;
    }
    &:not(:last-of-type) {
        padding-bottom: .5rem;
    }
}