.navbar {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    background-color: $dp-4;

    h3 {
        font-size:1.5rem;
    }
    .navbar__authBtn {
        @extend .button;
        font-size:1.5rem;
        border-width: 3px;
        font-weight: bold;
    }
}